<!-- Used by theme-bio-builtin-1 -->

{% if site.data.bio.interests %}
<div class="row">
  <div class="sixteen wide column">
    <h2 class="ui center aligned header no-bottom font-bauman">Zainteresowania</h2>
    <hr style="margin: 0 17% 0 17%;">
  </div>
</div>

<div class="row">
  <div class="ten wide column no-bottom center-div">
    <div class="ui medium labels stackable grid center aligned">
      {% for entry in site.data.bio.interests %}
      <div class="ui custom-color label">
        {{ entry.name }}{% if forloop.last != true %} {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>

<!--
<p class="ui no-bottom">
  {% for entry in site.data.bio.interests %}
    {{ entry.name }}{% if forloop.last != true %}, {% endif %}
    {% if entry.keywords and entry.keywords.size > 0 %}({% for keyword in entry.keywords %}{{ keyword }}{% if forloop.last != true %}, {% endif %}{% endfor %}){% endif %}{% if forloop.last != true %} {% endif %}
  {% endfor %}
</p>
-->
