<!-- Used by theme-home-builtin-1,2,3 -->

<a href="https://github.com/trolit" data-tooltip="Profil GitHub" data-position="top center" target="_blank"> <i class="iconify icon-color" data-icon="raphael:github" data-inline="true"></i> </a>

&nbsp;

<a href="https://dblp.org/pers/hd/i/Idzikowski:Pawel" data-tooltip="Profil dblp" data-position="top center" target="_blank"> <i class="iconify icon-color" data-icon="simple-icons:dblp" data-inline="true"></i> </a>

&nbsp;

<a href="https://profile-summary-for-github.com/user/trolit" data-tooltip="Statystyki(wizualizacja)" data-position="top center" target="_blank"> <i class="iconify icon-color" data-icon="gridicons:stats-alt" data-inline="true"></i> </a>