<!-- Used by all builtin themes. Now we list number of essays and projects. -->

{% assign essay_pages = site.pages | where: "type", "essay" | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div class="nonprintable mb-5">
  <nav class="ui fixed menu font-balooChettan2 h-5 background-main-gradient">
    <a href="{{ site.baseurl}}/" class="brand item">
      <span class="iconify icon-20" data-icon="carbon:select-window"></span> &nbsp;
      home
    </a>

    {% if num_projects > 0 %}
    <a href="{{ site.baseurl }}/projects" class="{% if include.active == 'projects' %} active {% endif
      %}item">projects</a>
    {% endif %}

    {% if num_essays > 0 %}
    <a href="{{ site.baseurl }}/essays"
      class="{% if include.active == 'essays' %} active {% endif %} item">confidential</a>
    {% endif %}

    <a href="{{ site.baseurl }}/music" class="{% if include.active == 'music' %} active {% endif %} item">?</a>
  </nav>
</div>