<!-- Used by all builtin themes. Now we list number of essays and projects. -->

{% assign post_pages = site.pages | where: "type", "post" | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign song_pages = site.pages | where: "type", "music" | where_exp: "page", "page.draft != true" %}
{% assign num_posts = post_pages.size %}
{% assign num_projects = project_pages.size %}
{% assign num_tracks = song_pages.size %}

<div class="ui left visible vertical inverted sidebar labeled icon menu" style="background-color: #333333;">
  <a href="{{ site.baseurl}}/" class="brand item">
    <i class="iconify icon icon-25" data-icon="radix-icons:home"></i>
    <div class="mt-15">
      <small>Home</small>
    </div>
  </a>

  {% if num_projects > 0 %}
  <a href="{{ site.baseurl }}/projects" class="brand {% if include.active == 'projects' %} active {% endif %} item">
    <i class="iconify icon icon-25" data-icon="clarity:library-line"></i>
    <div class="mt-15">
      <small>Projects ({{ num_projects }})</small>
    </div>
  </a>
  {% endif %}

  {% if num_posts > 0 %}
  <a href="{{ site.baseurl }}/posts" class="brand {% if include.active == 'posts' %} active {% endif %} item">
    <i class="iconify icon icon-25" data-icon="fluent:note-28-regular"></i>
    <div class="mt-15">
      <small>Posts ({{ num_posts }})</small>
    </div>
  </a>
  {% endif %}
  
  <a href="{{ site.baseurl }}/music" class="brand {% if include.active == 'music' %} active {% endif %} item">
    <i class="iconify icon icon-25" data-icon="teenyicons:headphones-outline"></i>
    <div class="mt-15">
      <small>Tracks ({{ num_tracks }})</small>
    </div>
  </a>

  <div class="w-100" style="position: absolute; bottom: 0;">
    <a href="https://profile-summary-for-github.com/user/trolit" target="_blank" class="brand item">
      <i class="iconify icon-15" data-icon="carbon:new-tab" style="position: absolute; top: 5px; right: 5px;"></i>
      <i class="iconify icon icon-25" data-icon="ic:baseline-query-stats"></i>
      <div class="mt-15">
        <small>Summary</small>
      </div>
    </a>
    <a href="https://github.com/trolit" target="_blank" class="brand item">
      <i class="iconify icon-15" data-icon="carbon:new-tab" style="position: absolute; top: 5px; right: 5px;"></i>
      <i class="iconify icon icon-25" data-icon="iconoir:github"></i>
      <div class="1mt-15">
        <small>GitHub</small>
      </div>
    </a>
  </div>
</div>