<a class="grey card myessay" href="{{ site.baseurl}}{{ include.page.url }}">
  <div class="content">
    <span class="header">{{ include.page.title }}</span>
    
    <div class="meta">
      <span class="date font-poppins">{{ include.page.date | date: "%d.%m.%Y" }}</span>
    </div>

    <div class="description center aligned font-poppins" style="font-size: 13px;">
      <!-- {{ include.page.content | markdownify | strip_html | truncatewords: 40 }} -->
      {{ include.page.summary }}
    </div>
  </div>

  <div class="extra content">
    <div class="ui tiny labels font-poppins">
      {% for label in include.page.labels %}
        <div class="ui label">{{ label }}</div>
      {% endfor %}
    </div>
  </div>
</a>