<a class="grey card"
  href="{% if include.page.website %}{{ include.page.website }}{% else %}wut{% endif %}" target="_blank">
  <div class="content">
    <div class="card-header font-spartan">
      {{ include.page.title }}
      {% if include.page.language %}
      <br/>
      <span class="ui tiny {{ include.page.labelColor }} label">
        {{ include.page.language }}
      </span>
      <span class="ui tiny label">
        {{ include.page.date | date: "%d.%m.%Y" }}
      </span>
      {% endif %}
    </div>

    {% if include.page.image %}
    <div class="ui tiny rounded bordered image"  style="padding-top: 20px;">
      <img src="{{ site.baseurl }}/{{ include.page.image }}">
    </div>

    {% endif %}

    <div class="description" style="min-height: 100px; padding-top: 15px; ">
      <div class="font-balooChettan2" style="text-align: justify; font-size: 80%;">
        {{ include.page.summary }}
      </div>
    </div>

    <div class="ui light small bottom attached ">      
      <div class="ui tiny labels center aligned font-balooChettan2">
        {% for label in include.page.labels %}
          <span class="ui label pa-1"> {{ label }} </span>
        {% endfor %}
      </div>
    </div>
  </div>

</a>