{% assign lastAuthor = include.page.author.last %}
{% assign authors = '' %}

{% for author in include.page.author %}
  {% if author != lastAuthor %}
    {% assign authors = authors | append: author | append: ', ' %}
  {% else %}
    {% assign authors = authors | append: author %}
  {% endif %} 
{% endfor %}

<div class="grey card mw-150 mysong" authors="{{ authors }}" genre="{{ include.page.genre }}">
  <div class="content">
    <span class="header font-balooChettan2">
      {{ authors }}
    </span>

    <div class="subheader font-balooChettan2">
      <div>
        <em>
          {{ include.page.subtitle }}
        </em>
      </div>

      <br/>

      <div>
        {% case include.page.genre %}
          {% when "alternative" %}
            {% assign labelColor = 'blue' %}
          {% when "cinematic" %}
            {% assign labelColor = 'violet' %}
          {% when "hard rock" %}
            {% assign labelColor = 'brown' %}
          {% when "country" %}
            {% assign labelColor = 'orange' %}
          {% when "rock" %}
            {% assign labelColor = 'grey' %}
        {% endcase %}

        <span class="ui small {{ labelColor }} label">
          {{ include.page.genre }}
        </span>
      </div>
    </div>
  </div>

  <div class="extra content">
    <div class="ui tiny labels center aligned font-balooChettan2">
      <a href="https://www.youtube.com/watch?v={{ include.page.youtubeId }}" target="_blank">
        <span class="iconify" data-icon="ph:youtube-logo"></span>
      </a>
    </div>
  </div>

</div>