<!-- Home page design with large image to left of bio info. -->
{% assign post_pages = site.pages | where: "type", "post" | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_posts = post_pages.size %}
{% assign num_projects = project_pages.size %}

<div onselectstart="return false" ondragstart="return false" id="lead-content"
  class="h-100 ui centered middle aligned grid container bottom-spacing">

  <div class="sixteen wide tablet four wide computer column">
    <img id="avatar" class="ui centered small circular image" src="../images/oval.svg" data-echo="../images/avatar.PNG">
  </div>

  <div class="two wide column"></div>

  <div class="sixteen wide tablet ten wide computer column ui card font-poppins pa-0 ma-0">
    <div class="centered header font-poppins pt-3 pb-5">
      <p class="pa-0 ma-0">
        <span class="iconify size-25" data-icon="fad:random-2dice"></span>
      </p>

      <span class="iconify icon-25" data-icon="mdi:pi"></span> homepage

      <br />

      <small>
        <em>I have not failed. I just found 10,000 ways that won't work. --Thomas Edison</em>
      </small>
    </div>

    <div class="ui bottom attached">
      <div class="ui placeholder segment" style="padding: 8% 0;">
        <div class="ui two column center aligned grid">

          <div class="column">
            <div class="ui icon header font-poppins jiggle-anim">
              <span class="iconify icon" data-icon="icon-park:intersection"></span>
              projects
            </div>

            <div class="mb-5">
              <span class="large ui basic black label">{{ num_projects }}</span>
            </div>

            <button class="small compact ui orange button font-spartan"
              onclick="redirect('{{ site.baseurl}}/projects/')" tabindex="0"
              onmouseenter="triggerAnim('projectsIcon', 'tada', 2000)" onmouseleave="disableJiggleAnim('projectsIcon')">
              redirect
            </button>
          </div>

          <div class="column">
            <div class="ui icon header font-poppins jiggle-anim">
              <span class="iconify icon" data-icon="fxemoji:notepage"></span>
              posts
            </div>

            <div class="mb-5">
              <span class="large ui basic black label">{{ num_posts }}</span>
            </div>

            <button class="small compact ui orange button font-spartan" onclick="redirect('{{ site.baseurl}}/posts/')"
              tabindex="0">
              redirect
            </button>
          </div>
        </div>
        <div class="ui vertical divider">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>