<header>
  <script type="text/javascript" src="js/particles/jquery.particleground.js"></script>
  <script type="text/javascript" src="js/particles/demo.js"></script>
</header>

<!-- Home page design with large image to left of bio info. -->
{% assign essay_pages = site.pages | where: "type", "essay" | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

<div class="ui icon button" onclick="redirectBlank('http://techfolios.github.io/')"
  data-html="<span class='iconify' data-icon='bx:bx-cube-alt' data-inline='true' style='margin-right: 5px; height: 110% !important;'></span> trolit.github.io <br/><hr/> Page based on Techfolios template (Jeykll, Semantic UI, Liquid). Particles effect made by Jonathan Nicol. <br/><br/> Click on the icon to open new tab with TechFolios template home page."
  data-position="top left" data-variation="small"
  style="z-index: 1000; position: absolute; top: 0; left: 0; background-color: transparent;">
  <span class="iconify" data-icon="bi:patch-question" data-inline="false"></span>
</div>

<div onselectstart="return false" ondragstart="return false" id="lead-content"
  class="h-100 ui centered middle aligned grid container">

  <div class="four wide column">
    <img id="avatar" class="ui centered large rounded image" src="../images/oval.svg" data-echo="../images/avatar.png">
  </div>

  <div class="two wide column"></div>

  <div class="sixteen wide tablet ten wide computer column ui card font-balooChettan2 pa-0 ma-0">
    <div class="centered header">
      <p class="pa-0 ma-0">
        <span class="iconify-inline" data-icon="fontisto:earth" data-width="30"></span>
      </p>
      {{ site.data.bio.basics.name }}
    </div>

    <div class="ui bottom attached">
      <div class="ui placeholder segment" style="padding-top: 5%;">
        <div class="ui two column center aligned grid">
          <div class="column">
            <div class="ui icon header">
              <span class="iconify-inline icon" data-icon="ri:open-source-fill"></span>
              Code
              <br />
              {{ num_projects }}
            </div>
            <div class="ui primary button" onclick="redirect('{{ site.baseurl}}/projects/')" tabindex="0">
              Create
            </div>
          </div>
          <div class="column">
            <div class="ui icon header">
              <span class="iconify-inline icon" data-icon="bi:file-text"></span>
              Text
              <br />
              {{ num_essays }}
            </div>
            <div class="ui primary button" onclick="redirect('{{ site.baseurl}}/essays/')" tabindex="0">
              Create
            </div>
          </div>
        </div>
        <div class="ui vertical divider">
          or
        </div>

        <div style="margin-top: 5%;">
          <div class="right floated ">
            <p>
              {% include home-network-links.html %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.button')
    .popup({
      inline: true
    })
    ;
</script>

<div id="lead-overlay" class="particles"></div>