<div class="content-margin" style="position: absolute; top: 15%; left:0; right:0; margin-left: auto; margin-right: auto; border: 1px solid #1C00ff00;">
    <div class="ui container">
        <div class="ui stackable centered three cards">
            {% assign song_pages = site.pages | where: "type", "music" | sort: "date" | reverse %}
            {% for page in song_pages %}
            {% unless page.draft %}
            {% include song-card.html page=page %}
            {% endunless %}
            {% endfor %}
        </div>
    </div>
</div>