---
layout: posts
---

<div class="content-margin" style="position: absolute; top: 15%; left:0; right:0; margin-left: auto; margin-right: auto; border: 1px solid #1C00ff00;">
  <div class="ui container" style="position: relative; background-color: #333333; border: 0; border-bottom-left-radius: 25px;">
    <span style="position: absolute; top: 13px; right: 13px;">
      <div class="ui label">
        {{ page.date | date: "%-d.%m.%Y" }}
      </div>

    </span>
        {{ content }}
  </div>
</div>